.cart__item {
    display: flex;
    padding: 20px 0;
    width: 100%;
}

.cart__item__left {
    flex: 0;
    margin-right: 34px;
    animation: animation1 .4s ease-in-out;
}

@keyframes animation1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.cart__item__right {
    flex: 1;
}

.cart__item__img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #eee;
    margin-right: 34px;
    display: block;
}

.cart__item__img__block {
    display: block;
}

.cart__item__img__block img {
    display: block;
    width: 140%;
    transform: rotate(-28deg) translateY(-40px);
    filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
}

.cart__item__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: animation2 1s ease-in;
}

.delete-cart {
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

@keyframes animation2 {
    0% {
        opacity: 0;
        transform: translateX(40%)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.cart__item__count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart__item__count {
    display: flex;
    align-items: center;
}

.cart__item__price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    animation: animation2 1s ease-in;
}

.cart__item__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    animation: animation2 1s ease-in;
}
.cart__count__button {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    border: none;
    background-color: #eee;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart__item__count__number {
    font-size: 14px;
    margin: 0 8px;
    width: 20px;
    text-align: center;
}

.cart__remove__button img {
    width: 16px;
    height: 16px;
}

.cart__remove__button {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: all .25s ease;
    border-radius: 100%;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6c90e;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart__remove__button:hover {
    background-color:#f0d04efc;
}

.cart__count__button:hover {
    background-color: #777777;
}