.shop-item:first-child {
    padding-top: 0;
}
.shop__item {
    display: block;
    padding: 40px 0;
}

.shop__item::-webkit-scrollbar {
    display: none;
}
.shop__item__img {
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.shop__item__img img {
    display: block;
    width: 100%;
    filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
    transform: rotate(-24deg);
    margin-left: -16px;
}

.shop__item__name {
    font-size: 20px;
    font-weight: 700;
    margin: 26px 0 20px;
    line-height: 1.5;
    color: #303841;
}

.shop__item__description {
    font-size: 13px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 20px;
}

.shop__item__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__item__price {
    font-size: 18px;
    font-weight: 700;
}

.shop__item__button--inactive {
    cursor: default;
    background-color: #f6c90e;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop__item__button {
    cursor: pointer;
    background-color: #f6c90e;
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: 46px;
    min-width: 46px;
    padding: 16px 20px;
    border-radius: 100px;
    border:none;
    transition: all .25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}