:root {
    --white-: #ffffff;
    --black-: #303841;
    --pray-: #777777;
    --yellow-: #f6c90e;
  }
  
  .shopping__card {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      flex-wrap: wrap;
      padding: 0 20px;
      max-width: 760px;
      margin: 0 auto;
  }
  
  .shopping__card::before {
    content: "";
    position: fixed;
    width: 400%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background-color: var(--yellow-);
    z-index: -100;
    animation: animation 9s ease-in-out infinite alternate;
  }
  
  @keyframes animation {
    0% {
      transform: translateX(-50%) skew(0deg, -8deg);
    }
  
    to {
      transform: translateX(-30%) skew(8deg, -4deg);
    }
  }
  
  @media only screen and (max-width: 480px) {
    .shopping__card {
      padding: 0 8px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .shopping__card {
      height: auto;
      flex-direction: column;
    }
  }