/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body {
  color: #303841;
  font-family: Rubik,sans-serif;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
:root {
  --white-: #FFFFFF;
  --black-: #303841;
  --pray-: #777777;
  --yellow-: #F6C90E;
}

.app {
  height: 100vh;
}

.app::before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: var(--yellow-);
  z-index: -100;
  -webkit-animation: waveAnimation 10s ease-in-out infinite alternate;
  animation: waveAnimation 10s ease-in-out infinite alternate;
}

@keyframes waveAnimation {
  0% {
      transform: translateX(-50%) skew(0deg,-8deg)
  }
  to {
      transform: translateX(-30%) skew(8deg,-4deg)
  }
}